.env
.venv
.DS_Store
dist/
*.tar.gz

# Ignore all pycache directories
pycache/
*.pyc

# Ignore notebook files and the minIO uploader script
.ipynb_checkpoints
*/.ipynb_checkpoints/*
dbx_config.py
sessions/
*.egg-info