.env
.venv
.DS_Store
dist/
build/
*.tar.gz

# Ignore Python cache directories
__pycache__/
*.pyc

# Ignore notebook files and the minIO uploader script
.ipynb_checkpoints
*/.ipynb_checkpoints/*
dbx_config.py
sessions/
imf/
MasterThesis/
output/
*.egg-info
MAINTAINER_WORKFLOW.md
